<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    -->
    <meta name="author" content="WWW.Pi.TEAM">
    <meta name="description" content="Pi.TEAM is online cash flow management, invoicing, bank reconciliation and expense management software for small businesses."/>
    <meta name="keywords" content="Intelligent business management, Create invoice free software, Free software to create an invoice, Accounting invoicing software, Accounting and invoicing software for small business, Invoicing accounting software small business, Free accounting and invoicing software for small business, Manage small business" />

    <!--
    <link rel="shortcut icon" href="assets/images/favicon_1.ico">
    -->
    <link rel="icon" href="assets/images/pilogo32x32.png">
    
    <title>Pi.TEAM - Free Online Invoice Maker</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/core.css" rel="stylesheet" type="text/css"/>
    
    <link href="assets/css/components.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/pages.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css"/>
    <script src="assets/js/modernizr.min.js"></script>

    <link href="assets/css/custom.min.css" rel="stylesheet" type="text/css"/>


</head>

<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <a href="index.html" class="logo"><span>Pi<i
                                class="md md-album"></i>TEAM</span></a>
                <!-- Image Logo here -->
                <!--<a href="index.html" class="logo">-->
                <!--<i class="icon-c-logo"> <img src="assets/images/logo_sm.png" height="42"/> </i>-->
                <!--<span><img src="assets/images/logo_light.png" height="20"/></span>-->
                <!--</a>-->
            </div>
        </div>

        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">


                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page" id="invoice_create" style="margin-left: 0px;">
        <!-- Start content -->
        <div class="content col-md-offset-1 col-md-10">
            <div class="container ">


                <div class="row">

                    <form id="piInvoice" class="form-horizontal" name="piInvoice" method="post"
                          enctype="multipart/form-data" onsubmit="return OnSubmitForm();">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="btn-group dropdown pull-right m-b-15">
                                    <a type="button" name="generate_invoice" class="btn btn-default waves-effect waves-light"
                                            href="#invoice_view">Generate Invoice
                                    </a>
                                </div>
                                <h4 class="page-title m-b-15">Simple Invoice Generator</h4>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <div class="card-box">
                                    <div class="row">
                                        <div class="col-md-4">

                                            <div class="Image-input">
                                                <div class="Image-input__image-wrapper">
                                                    <i v-show="! invoice_form.imageSrc"
                                                       class="icon fa fa-picture-o"></i>
                                                    <img v-show="invoice_form.imageSrc" class="Image-input__image"
                                                         :src="invoice_form.imageSrc">
                                                </div>
                                                <input @change="previewThumbnail" class="Image-input__input"
                                                       name="thumbnail" type="file">

                                                <input type="hidden" v-model="invoice_form.imageSrc" name="imageSrc"
                                                       id="imageSrc">
                                            </div>

                                        </div>
                                        <div class="col-md-4 col-md-offset-4">


                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="from_name"
                                                           v-model="invoice_form.invoice_from.name"
                                                           name="from_name" placeholder="From Business Name (Mandatory)"
                                                           v-validate="'required'" data-vv-scope="invoice_form">
                                                    <i v-show="errors.has('from_name', 'invoice_form')"
                                                       class="fa fa-warning text-danger"></i>
                                                    <span v-show="errors.has('from_name', 'invoice_form')"
                                                          class="help text-danger">Name field is required.</span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="from_addr_line1"
                                                           v-model="invoice_form.invoice_from.addr_line1"
                                                           name="from_addr_line1" placeholder="Address Line 1">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="from_addr_line2"
                                                           v-model="invoice_form.invoice_from.addr_line2"
                                                           name="from_addr_line2" placeholder="Address Line 2">

                                                </div>

                                                <div class="col-md-5">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="from_city"
                                                           v-model="invoice_form.invoice_from.city"
                                                           name="from_city" placeholder="City">

                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="from_state"
                                                           v-model="invoice_form.invoice_from.state"
                                                           name="from_state" placeholder="State">

                                                </div>

                                                <div class="col-md-4">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="from_zip"
                                                           v-model="invoice_form.invoice_from.zip"
                                                           name="from_zip" placeholder="Zip">

                                                </div>

                                                <div class="col-md-4">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="from_country"
                                                           v-model="invoice_form.invoice_from.country"
                                                           name="from_country" placeholder="Country">

                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <div class="row">


                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="bill_name"
                                                           v-model="invoice_form.bill_to.name"
                                                           name="bill_name" placeholder="Bill To Name (Mandatory)"
                                                           v-validate="'required'" data-vv-scope="invoice_form">
                                                    <i v-show="errors.has('bill_name', 'invoice_form')"
                                                       class="fa fa-warning text-danger"></i>
                                                    <span v-show="errors.has('bill_name', 'invoice_form')"
                                                          class="help text-danger">Name field is required.</span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="bill_addr_line1"
                                                           v-model="invoice_form.bill_to.addr_line1"
                                                           name="bill_addr_line1" placeholder="Address Line 1">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="bill_addr_line2"
                                                           v-model="invoice_form.bill_to.addr_line2"
                                                           name="bill_addr_line2" placeholder="Address Line 2">

                                                </div>

                                                <div class="col-md-5">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="bill_city"
                                                           v-model="invoice_form.bill_to.city"
                                                           name="bill_city" placeholder="City">

                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="bill_state"
                                                           v-model="invoice_form.bill_to.state"
                                                           name="bill_state" placeholder="State">

                                                </div>

                                                <div class="col-md-4">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="bill_zip"
                                                           v-model="invoice_form.bill_to.zip"
                                                           name="bill_zip" placeholder="Zip">

                                                </div>

                                                <div class="col-md-4">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="bill_country"
                                                           v-model="invoice_form.bill_to.country"
                                                           name="bill_country" placeholder="Country">

                                                </div>
                                            </div>


                                        </div>

                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="ship_name"
                                                           v-model="invoice_form.ship_to.name"
                                                           name="ship_name" placeholder="Ship To Name (Optional)">

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="ship_addr_line1"
                                                           v-model="invoice_form.ship_to.addr_line1"
                                                           name="ship_addr_line1" placeholder="Address Line 1">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="ship_addr_line2"
                                                           v-model="invoice_form.ship_to.addr_line2"
                                                           name="ship_addr_line2" placeholder="Address Line 2">

                                                </div>

                                                <div class="col-md-5">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="ship_city"
                                                           v-model="invoice_form.ship_to.city"
                                                           name="ship_city" placeholder="City">

                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="ship_state"
                                                           v-model="invoice_form.ship_to.state"
                                                           name="ship_state" placeholder="State">

                                                </div>

                                                <div class="col-md-4">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="ship_zip"
                                                           v-model="invoice_form.ship_to.zip"
                                                           name="ship_zip" placeholder="Zip">

                                                </div>

                                                <div class="col-md-4">
                                                    <input type="text" class="form-control text-capitalize"
                                                           id="ship_country"
                                                           v-model="invoice_form.ship_to.country"
                                                           name="ship_country" placeholder="Country">

                                                </div>
                                            </div>


                                        </div>


                                        <div class="col-md-4">


                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Invoice Title</label>
                                                <div class="col-sm-8">

                                                    <input type="text" class="form-control text-capitalize"
                                                           id="invoice_title"
                                                           v-model="invoice_form.invoice_title"
                                                           name="invoice_title" placeholder=""
                                                           v-validate="'required'" data-vv-scope="invoice_form">
                                                    <i v-show="errors.has('invoice_title', 'invoice_form')"
                                                       class="fa fa-warning text-danger"></i>
                                                    <span v-show="errors.has('invoice_title', 'invoice_form')"
                                                          class="help text-danger">Invoice title field is required.</span>

                                                </div>


                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Invoice #</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="open_id"
                                                           name="open_id"
                                                           v-model="invoice_form.open_id"
                                                           placeholder="Invoice ID"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="poso_number"
                                                           name="poso_number"
                                                           placeholder="PO/SO #"
                                                           v-model="invoice_form.poso_number"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Invoice Date</label>
                                                <div class="col-md-8">

                                                    <input type="date" class="form-control" id="invoice_date"
                                                           name="invoice_date"
                                                           v-model="invoice_form.invoice_date"/>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Invoice Due</label>
                                                <div class="col-md-8">
                                                    <input type="date" class="form-control" id="due_date"
                                                           name="due_date"
                                                           v-model="invoice_form.due_date"/>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <div class='row'>
                                        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'
                                             id="invoice-item-tour">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                <tr>

                                                    <th width="15%">Item No/Title</th>
                                                    <th width="30%">Item Name/Description</th>
                                                    <th width="12%">Price</th>
                                                    <th width="12%">Quantity</th>
                                                    <th width="8%">Discount</th>
                                                    <th width="8%">Tax</th>
                                                    <th width="13%">Total</th>
                                                    <th width="2%">&nbsp;</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(item, index) in invoice_form.items">
                                                    <!-- <tr v-for="(item, index) in invoice_form.items" v-if="invoice_form.itemOptions.length !== 0"> -->

                                                    <td>
                                                        <input type="text" name="item_id[]" id="item_id[]"
                                                               class="form-control" v-model="item.item_id">
                                                    </td>

                                                    <td>

                                                        <input type="text" name="name[]" id="name[]"
                                                               class="form-control" v-model="item.name">
                                                    </td>

                                                    <td>
                                                        <input type="text" name="item_price[]" id="item_price[]"
                                                               class="form-control" v-model="item.price"
                                                               v-validate data-vv-scope="invoice_form"
                                                               data-vv-rules="decimal:2" data-vv-delay="1000">
                                                        <i v-show="errors.has('item_price[]', 'invoice_form')"
                                                           class="fa fa-warning text-danger"></i>
                                                        <span v-show="errors.has('item_price[]', 'invoice_form')"
                                                              class="help text-danger">Invalid Input.</span>
                                                    </td>
                                                    <td><input type="text" name="item_qty[]" id="item_qty[]"
                                                               class="form-control" v-model="item.qty"
                                                               v-validate data-vv-rules="decimal:2" data-vv-delay="1000"
                                                               data-vv-scope="invoice_form">
                                                        <i v-show="errors.has('item_qty[]', 'invoice_form')"
                                                           class="fa fa-warning text-danger"></i>
                                                        <span v-show="errors.has('item_qty[]', 'invoice_form')"
                                                              class="help text-danger">Invalid Input.</span>


                                                    </td>

                                                    <td><input type="text" name="item_disc[]" id="item_disc[]"
                                                               class="form-control" v-model="item.disc"
                                                               v-validate data-vv-rules="decimal:2" data-vv-delay="1000"
                                                               data-vv-scope="invoice_form">
                                                        <i v-show="errors.has('item_disc[]', 'invoice_form')"
                                                           class="fa fa-warning text-danger"></i>
                                                        <span v-show="errors.has('item_disc[]', 'invoice_form')"
                                                              class="help text-danger">Invalid Input.</span>

                                                    </td>

                                                    <td><input type="text" name="item_tax[]" id="item_tax[]"
                                                               class="form-control" v-model="item.tax"
                                                               v-validate data-vv-rules="decimal:2" data-vv-delay="1000"
                                                               data-vv-scope="invoice_form">
                                                        <i v-show="errors.has('item_tax[]', 'invoice_form')"
                                                           class="fa fa-warning text-danger"></i>
                                                        <span v-show="errors.has('item_tax[]', 'invoice_form')"
                                                              class="help text-danger">Invalid Input.</span>


                                                    </td>
                                                    <td>
                                                        <input type="hidden" name="item_total[]" id="item_total[]"
                                                               class="form-control" readonly
                                                               v-bind:value="item.total = parseFloat(item.qty) * parseFloat(item.price)">

                                                        <input type="hidden" name="item_disc_amt[]" id="item_disc_amt[]"
                                                               class="form-control" readonly
                                                               v-bind:value="item.disc_amt = (item.total * ( parseFloat(item.disc) / 100 ))">

                                                        <input type="hidden" name="item_tax[]" id="item_tax[]"
                                                               class="form-control" readonly
                                                               v-bind:value="item.tax_amt = ((item.total - item.disc_amt) * ( parseFloat(item.tax) / 100 ))">

                                                        <input type="text" name="item_total_with_tax[]"
                                                               id="item_total_with_tax[]"
                                                               class="form-control" readonly
                                                               v-bind:value="item.total_with_tax = (item.total - item.disc_amt) +  item.tax_amt">
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-xs btn-danger delete m-t-5" type="button"
                                                                @click="removeLine(index, 1)"><i
                                                                    class="fa fa-remove"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                            <button class="btn-xs btn-success" type="button" @click="addLine"
                                                    id="item-row-tour">
                                                <i class="fa fa-plus"></i> ROW
                                            </button>

                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">


                                            <div class="form-group">

                                                <label class="col-sm-3 control-label">Currency:</label>
                                                <div class="input-group col-sm-9">
                                                    <select class="form-control selectpicker show-tick"
                                                            data-live-search="true"
                                                            name="currency_id" id="inv_currency_id"
                                                            v-model="invoice_form.currency_id">
                                                        <option value="$">Dollar ($)</option>
                                                        <option value="€">Euro (€)</option>
                                                        <option value="₹">Indian Rupees (₹)</option>
                                                        <option value="£">Pound (£)</option>
                                                        <option value="¥">Yuan (¥)</option>
                                                    </select>

                                                </div>

                                            </div>


                                        </div>
                                        <div class="col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-12 col-sm-5 col-md-5 col-lg-5"
                                             style="padding-right: 20px">

                                            <p class="text-right"><b>Discount Total ({{ invoice_form.currency_id
                                                    }}):</b> {{ discTotal }}</p>

                                            <p class="text-right"><b>Sub-total excluding taxes ({{
                                                    invoice_form.currency_id }}):</b> {{ subTotal }}</p>

                                            <p v-if="invoice_form.discount_rate1 != 0" class="text-right">Discount: {{
                                                discountAmount
                                                }}</p>

                                            <p class="text-right"><b>Total Tax Amount ({{ invoice_form.currency_id
                                                    }}):</b> {{ taxTotal }}</p>

                                            <hr>
                                            <h3 class="text-right">Total ({{ invoice_form.currency_id }}): {{
                                                totalAmount }} </h3>

                                        </div>

                                    </div>
                                </div> <!-- end Panel -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-group" id="accordion-test-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-test-3"
                                                   href="#collapseOne-3"
                                                   aria-expanded="false" class="collapsed">
                                                    Notes
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne-3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                        <textarea name="invoice_notes" id="invoice_notes" class="form-control"
                                                  v-model="invoice_form.notes"
                                                  v-validate data-vv-rules="max:250"
                                                  data-vv-scope="invoice_form"></textarea>
                                                <i v-show="errors.has('invoice_notes', 'invoice_form')"
                                                   class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('invoice_notes', 'invoice_form')"
                                                      class="help text-danger">
                                            Maximum 250 characters allowed.</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-group" id="accordion-test-1">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-test-1"
                                                   href="#collapseOne-1"
                                                   aria-expanded="false" class="collapsed">
                                                    Footer
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne-1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                        <textarea name="invoice_footer" id="invoice_footer" class="form-control"
                                                  v-model="invoice_form.footer"
                                                  v-validate data-vv-rules="max:250"
                                                  data-vv-scope="invoice_form"></textarea>
                                                <i v-show="errors.has('invoice_footer', 'invoice_form')"
                                                   class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('invoice_footer', 'invoice_form')"
                                                      class="help text-danger">
                                            Maximum 250 characters allowed.</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="row" id="invoice_view">
                            <div class="col-sm-12">

                                <div class="btn-group dropup pull-right m-b-15"
                                     id="save-invoice-tour">


                                    <a type="button" name="generate_invoice" class="btn btn-default waves-effect waves-light"
                                            href="#invoice_view">Generate Invoice
                                    </a>

                                </div>

                            </div>
                        </div>

                        

                    </form>


                </div>


            </div> <!-- container -->

            

            <div class="container card-box" style="margin-bottom: 15px;">
                <div id="piInvoice_pdf">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div v-if="invoice_form.imageSrc">
                                <img style="vertical-align: middle;padding-top: 2%;" alt="Invoice"
                                     width="70%" :src="invoice_form.imageSrc">
                            </div>
                            <div v-else>
                                <h2>Invoice</h2>
                            </div>
                            
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="pull-right">
                                <address>
                                    <strong v-if="invoice_form.invoice_from.name">{{ invoice_form.invoice_from.name }}</strong>
                                    <span v-show="invoice_form.invoice_from.addr_line1.length > 0">
                                        <br>{{ invoice_form.invoice_from.addr_line1 }}
                                    </span>
                                    <span v-show="invoice_form.invoice_from.addr_line2.length > 0">
                                        <br>{{ invoice_form.invoice_from.addr_line2 }}
                                    </span>
                                    <span v-show="invoice_form.invoice_from.city.length > 0 || invoice_form.invoice_from.state.length > 0">
                                        <br>{{ invoice_form.invoice_from.city }} {{ invoice_form.invoice_from.state }}
                                    </span>
                                    <span v-show="invoice_form.invoice_from.zip.length > 0 || invoice_form.invoice_from.country.length > 0">
                                        <br>{{ invoice_form.invoice_from.zip }} {{ invoice_form.invoice_from.country }}
                                    </span>
                                    <span v-show="invoice_form.invoice_from.phone.length > 0 || invoice_form.invoice_from.email.length > 0">
                                        <br>{{ invoice_form.invoice_from.phone }} {{ invoice_form.invoice_from.email }}
                                    </span>
                                    <span v-show="invoice_form.invoice_from.website.length > 0">
                                        <br>{{ invoice_form.invoice_from.website }}
                                    </span>
                                    
                                </address>
                            </div>

                        </div>
                    </div>

                    <hr style="margin-top: 0px;margin-bottom: 0px;">

                    <div class="row">

                        <h4 align="center">Invoice # <strong> {{ invoice_form.open_id }}
                                <small>{{ invoice_form.invoice_title }}</small>
                            </strong></h4>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                            <address>
                                <strong v-if="invoice_form.bill_to.name">Bill To:<br></strong>
                                <strong v-if="invoice_form.bill_to.name">{{ invoice_form.bill_to.name }}<br></strong>
                                    
                                <span v-show="invoice_form.bill_to.addr_line1.length > 0">
                                    {{ invoice_form.bill_to.addr_line1 }}<br>
                                </span>
                                <span v-show="invoice_form.bill_to.addr_line2.length > 0">
                                    {{ invoice_form.bill_to.addr_line2 }}<br>
                                </span>
                                <span v-show="invoice_form.bill_to.city.length > 0 || invoice_form.bill_to.state.length > 0">
                                    {{ invoice_form.bill_to.city }} {{ invoice_form.bill_to.state }}<br>
                                </span>
                                <span v-show="invoice_form.bill_to.zip.length > 0 || invoice_form.bill_to.country.length > 0">
                                    {{ invoice_form.bill_to.zip }} {{ invoice_form.bill_to.country }}<br>
                                </span>
                                <span v-show="invoice_form.bill_to.phone.length > 0 || invoice_form.bill_to.email.length > 0">
                                    {{ invoice_form.bill_to.phone }} {{ invoice_form.bill_to.email }}<br>
                                </span>
                                <span v-show="invoice_form.bill_to.website.length > 0">
                                    {{ invoice_form.bill_to.website }}<br>
                                </span>
                            </address>

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                            <address>
                                <strong v-if="invoice_form.ship_to.name">Ship To:<br></strong>
                                <strong v-if="invoice_form.ship_to.name">{{ invoice_form.bill_to.name }}<br></strong>
                                    
                                <span v-show="invoice_form.ship_to.addr_line1.length > 0">
                                    {{ invoice_form.ship_to.addr_line1 }}<br>
                                </span>
                                <span v-show="invoice_form.ship_to.addr_line2.length > 0">
                                    {{ invoice_form.ship_to.addr_line2 }}<br>
                                </span>
                                <span v-show="invoice_form.ship_to.city.length > 0 || invoice_form.ship_to.state.length > 0">
                                    {{ invoice_form.ship_to.city }} {{ invoice_form.ship_to.state }}<br>
                                </span>
                                <span v-show="invoice_form.ship_to.zip.length > 0 || invoice_form.ship_to.country.length > 0">
                                    {{ invoice_form.ship_to.zip }} {{ invoice_form.ship_to.country }}<br>
                                </span>
                                <span v-show="invoice_form.ship_to.phone.length > 0 || invoice_form.ship_to.email.length > 0">
                                    {{ invoice_form.ship_to.phone }} {{ invoice_form.ship_to.email }}<br>
                                </span>
                                <span v-show="invoice_form.ship_to.website.length > 0">
                                    {{ invoice_form.ship_to.website }}<br>
                                </span>
                            </address>

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="pull-right">
                                <p><strong>Invoice Number: </strong>{{ invoice_form.open_id }}</p>
                                <p><strong>Invoice Date: </strong>{{ invoiceDate }}</p>
                                <p><strong>Due Date: </strong>{{ dueDate }}</p>
                                <p><strong>Amount Due: </strong>{{ invoice_form.currency_id }} {{ totalAmount }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive" style="margin-top: 20px">
                                <table class="table ">
                                    <thead style="background-color: #333;">
                                    <tr>
                                        <th style="color: #FFFFFF;text-align: left;">Items</th>
                                        <th style="color: #FFFFFF;text-align: right;">Quantity</th>
                                        <th style="color: #FFFFFF;text-align: right;">Price</th>
                                        <th style="color: #FFFFFF;text-align: right;">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr v-for="(item, index) in invoice_form.items">
                                        <td style="text-align: left;"><strong>{{ item.item_id }}</strong>
                                            <span style="color: #777;">{{ item.name }}</span>
                                        </td>
                                        <td style="text-align: right;">{{ item.qty }}</td>
                                        <td style="text-align: right;">{{ item.price }}</td>
                                        <td style="text-align: right;">{{ invoice_form.currency_id }} {{ item.total_with_tax }} <small>Discount: {{ item.disc }}%</small><small> Tax: {{ item.tax }}%</small></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr/>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 col-md-offset-6 col-lg-offset-6 col-sm-offset-6 col-xs-offset-6">
                            <p class="text-right"><b>Discount: </b>{{ invoice_form.currency_id }} {{ discTotal }}</p>
                            <p class="text-right"><b>Sub-total: </b>{{ invoice_form.currency_id }} {{ subTotal }}</p>
                            <p class="text-right">Total Tax: {{ invoice_form.currency_id }} {{ taxTotal }}</p>
                            <hr>
                            <h3 class="text-right">Invoice Amount: {{ invoice_form.currency_id }} {{ totalAmount }}</h3>
                            <hr>
                            <p class="text-right">Amount Paid: {{ invoice_form.currency_id }} 0.00</p>
                            <p class="text-right"><b>Amount Due:</b> {{ invoice_form.currency_id }} {{ totalAmount }}</p>
                        </div>

                    </div>
                    <div v-show="invoice_form.notes.length > 0">
                        Notes: {{ invoice_form.notes }}
                    </div>
                    
                    <div v-show="invoice_form.footer.length > 0" style='text-align:center;'>
                        <hr>{{ invoice_form.footer }}</div>


                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="btn-group dropdown pull-right m-b-15">
                        <a href="javascript:void(0)" class="btn btn-danger btn-lg" id="create_pdf">Download PDF</a>
                    </div>
                </div>
            </div>
            
        </div> <!-- content -->


        <footer class="footer" style="left: 0px; text-align: center !important;">
            © 2017 <a href="https://www.pi.team">Pi.TEAM</a>. All rights reserved.
        </footer>

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<script>
    var resizefunc = [];
</script>

<script src="assets/js/vue.min.js"></script>
<script src="assets/js/vee-validate.min.js"></script>
<script src="assets/js/moment.min.js"></script>
    
<script>    
    Vue.use(VeeValidate);    
</script>
<script src="assets/js/custom.obs.js"></script>

<!-- jQuery  -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/js/waves.js"></script>

<script src="assets/js/jspdf.min.js"></script>
<script src="assets/js/html2canvas.min.js"></script>

<script src="assets/js/jspdf-cust.js"></script>
    <script>
		function GeneratePDF()
		{
			var doc = new jsPDF();
			
			doc.setFontSize(22);
			doc.text(20, 20, 'My First PDF');
			doc.setFontSize(16);
			doc.text(20, 30, 'Olá');
			
			//doc.output('save', 'filename.pdf');
			doc.output('datauri');
			//doc.output('datauristring');
			//doc.output('dataurlnewwindow');
		}
		
		function sendPrintToPDF(txtLines, title, path, opts)
		{
			//Generate PDF
			var pdf     = new jsPDF(); //'p','in','letter'
			var docRows = 50;
			var docSize = 80;
			pdf.setFont("courier");
			pdf.setFontSize(10); 
			
			// all coords and widths are in jsPDF instance's declared units
			// 'inches' in this case
			var markPag	= 1;
			var markPos	= 20;
			
			if(typeof opts != "undefined"){
				docSize     = (typeof opts.docSize != "undefined") ? opts.docSize : docSize;
			}
			
			for(var r = 0; r < txtLines.length; r++){
			//
			if(markPag >= docRows){
				markPag	= 1;
				markPos	= 20;
				//add line
				pdf.addPage();
				} else {
				markPos	= markPos + 5; markPag++;
			}
				pdf.text(15, markPos, normalize(txtLines[r]) );
				//markPag	= (markPag >= docRows) ? 1 : (markPag+1)
			}
			pdf.setProperties({
			/*title: 'Title',
			subject: 'This is the subject',*/		
			author: 'DroidMart POS System',
			keywords: 'report, droidmart, free',
			creator: 'DroidMart Report Engine'
			});
			window.requestFileSystem(LocalFileSystem.PERSISTENT, 0,
					function(fileSystem){
						var d   = new Date();
						var fil     = (typeof title == "undefined"|title == "") ? "pdf-" +  ( d.getTime() ) + ".pdf" : title;
						fil         = (typeof path == "undefined") ? ROOTH_PATH + fil : ROOTH_PATH + path + fil;
						
						alert(fil);
						
						fileSystem.root.getFile( fil, { create: true }, function (fileEntry) {
										var mFullPath       = fileEntry.fullPath;
										fileEntry.createWriter(
												function (file){
												var txt     = pdf.output(); //"<!DOCTYPE html><html><head><meta charset=\"utf-8\" /></head><body>" + data + "</body></html>";
											   
													file.onwriteend = function(evt) {
														//console.log("write success");
														var p       = new LocalPrint();
														//console.log(mFullPath);
														p.print({fileURI : mFullPath, mimeType: "application/pdf", intent : session("sys_printer_system")}, function(){}, onPrintError);
													};
													file.write(txt);
												}
												,function(){} ); }, function(){} ); }                                         
						, function(){} ); 
			}
	</script>

</body>
</html>
